/* Mobile Styles */
@media (max-width: 500px) {

  .nav-big-screens,
  .nav-small-screens,
  .nav-container {
    display: none;
  }

  .fa-solid {
    font-size: 30px;
    margin: 0 10px 0 0;
  }

  .fa-solid:hover {
    opacity: 0.8;
  }

  .nav-small-screens a {
    text-align: center !important;
    color: white;
    padding: 5px 20px;
  }

  section>* {
    width: 100%;
  }
}

/* Desktop Styles */
@media (min-width: 501px) {

  .fa-solid,
  .nav-small-screens,
  .nav-container {
    display: none !important;
  }
}